/*タイトルコンテナ*/
.title_container{
  width: 550px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*タイトル*/
.title{
  background-color: #A7A7A7;
  padding-left: 20px;
  margin-bottom: 5px;
}

/*ボタンコンテナ*/
.button_container{
  width: 50px;
  height: 602px;
  background-color: #DADADA;
  margin-bottom: 5px;
  margin-right: 5px;
}

/*各ボタンの設定*/
.btn-box,.btn_box{
  display: inline-block;
  widows: 25px;
  height: 25px;
  border: 1px black solid;
  padding: 2px;
  border-radius: 5px;
}
.btn_box_black{
  display: inline-block;
  widows: 25px;
  height: 25px;
  border: 1px white solid;
  padding: 2px;
  border-radius: 5px;
}
.select{
  margin-top: 10px;
  margin-left: 9px;
}
.aaa{
  margin-top: 0px;
  margin-left: 9px;
}
.margin{
  margin-top: 15px;
  margin-left: 9px;
}

/*ボタン枠線削除*/
input:focus {
	outline:0;
}

/*キャンバス*/
canvas {
	position: relative;
	border:1px solid #000;
}

/*保存履歴コンテナ*/
.history_container{
  height: 600px;
  width: 330px;
  background-color: whitesmoke;
  border: 1px solid black;
  margin-left: 10px;
}

/*保存履歴タイトル*/
#title_tmpList{
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 2px;
  font-weight: bolder;
  text-align: center;
}
.subtitle_tmpList{
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bolder;
  font-size: 13px;
  text-align: center;
}
.hr{
  border-bottom: 1px solid black;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
.hr2{
  border-bottom: 1px solid black;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}
#my_viewpanel{
  height: 539px;
  width: 190px;
  background-color: whitesmoke;
  margin-top: 5px;
}

#other_viewpanel{
  height: 539px;
  width: 137px;
  background-color: whitesmoke;
  margin-top: 5px;
}

#my_tmp{
  border-right: 1px solid black;
}

.tmpImage{
  border: 1px solid black;
  margin-left: 5px;
}

li{
  display: inline-block;
  width: 25px;
  height: 25px;
  border:1px solid #000;
}
